# MySQL Database Configuration
MYSQL_HOST=
MYSQL_PORT=3306
MYSQL_USER=
MYSQL_PASSWORD=
MYSQL_DB=broadband_db

# Flask Application Configuration
FLASK_SECRET_KEY=

# Email / Outbound SMTP Configuration
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USE_TLS=True
EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=
DEFAULT_FROM_EMAIL=
OUTBOUND_EMAIL_HOST_USER=
OUTBOUND_EMAIL_HOST_PASSWORD=
